name: Markdown validator

on:
  push:
    branches:
      - release

  pull_request:
    branches:
      - release

permissions:
  contents: read

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: 'yes'
          folder-path: 'docs'
          file-extension: '.md .mdx'
